/* This file is for your main application css. */

.announcement-card {
  border-color: #b3b3b3;
  border-style: solid;
  border-width: thin;
  padding: 10px;
}

.announcement-card {
  margin-bottom: 30px;
}

.announcement-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.title-container {
  font-size: 32pt;
  font-weight: 100;
  padding: 10px 5px;
  background-color: #dbe8f3;
}
