<h2>Listing Announcements</h2>

<span><%= link "New Announcement", to: announcement_path(@conn, :new) %></span>

<%= for announcement <- @announcements do %>
  <div class="announcement-card">
    <div class="announcement-title">
      <%= announcement.title %>
    </div>

    <div class="announcement-content">
      <%= announcement.content %>
    </div>
  </div>
<% end %>


