<h2>Show Announcement</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @announcement.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @announcement.content %>
  </li>

</ul>

<span><%= link "Edit", to: announcement_path(@conn, :edit, @announcement) %></span>
<span><%= link "Back", to: announcement_path(@conn, :index) %></span>
